@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Staatliches&family=Yanone+Kaffeesatz:wght@300;400;500;600;700&display=swap");

@font-face {
    font-family: 'one-regular';
    src: url('./font/ONE\ Mobile\ OTF\ Regular.otf');

   
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
    font-family: 'one-regular';
  color: #ffff;
}
h1,
h2 ,h3,h5,h4,h5{
    font-weight: 500;
}
p,span,li,a{
    font-size: 14px;
}
button{
    cursor: pointer;
    border: 0;
    outline: none;
}

ul{
  list-style: none;
}
/* body::-webkit-scrollbar {
  width: 5px;
}
ul{

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #6e70f3;
  border-radius: 100px;
}
.marquee-container {
  overflow-x: unset !important;
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  width: 100%;
}
footer {
  background: #061b2a;
}
h1,
h2 {
  font-weight: 500;
}
.heading p {
  font-size: 26px !important;
  margin-top: 5px !important;
}
@media (max-width: 768px) {
  .heading p {
    font-size: 24px !important;
  }
}

::before,
::after {
  box-sizing: border-box;
}
.mark {
  overflow: unset !important;
}
body {
  overflow-x: hidden;
 background: #132835;
}
html {
  scroll-behavior: smooth;
}
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
button.owl-prev {
  justify-content: center;
}
button.owl-next {
  justify-content: center;
}
button.owl-prev span,
button.owl-next span {
  transform: scale(1.5);
  display: inline-block;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  background: none;
  color: inherit;
  border: none;
  padding: 11px 22px !important;
  font: inherit;
  background: none !important;
  border-radius: 100px !important;
  top: -40px;
  position: absolute;
  border: 1px solid #747373;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
.owl-theme .owl-dots .owl-dot span {
  width: 24px;
  height: 7px;
  margin: 5px 3px;
  background: none;
  border: 1px solid black;
}
.bottomm {
  background: linear-gradient(360deg, #ff3395, #ff51b8);
}

.owl-theme .owl-dots .owl-dot {
  width: 30px;
}
.owl-theme .owl-dots {
  padding: 20px 0;
}
button.owl-next {
  position: absolute;
  top: 40%;
  right: 0;
  transform: translateY(-50%);
}
button.owl-prev {
  position: absolute;
  top: 40%;
  right: 51px;
  transform: translateY(-50%);
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: black !important;
}
.owl-stage {
  /* transition: all 2s ease 0s !important; */
}
.makeStyles-heading-2 {
  font-size: 18px !important;
  font-weight: 400;
}
.MuiTypography-body1 {
  font-size: 18px !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}
