@import "./media.scss";

.review__from {
  .top__form {
    border-radius: 12px;
    overflow: hidden;

    .head {
      background-color: #061b2a;
      padding: 30px 20px 40px;
      align-items: center;
      display: flex;
      justify-content: space-between;

      @include lg {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 15px;
      }

      .date {
        select {
          padding: 12px 20px;
          margin-right: 15px;
          background: #132835;
          border: none;
          border-radius: 8px;
          outline: none;
          color: #7d868c;
        }

        input {
          padding: 10px 30px;
          background: #132835;
          border: none;
          border-radius: 8px;
          outline: none;
          color: #7d868c;
        }
      }
    }

    .body {
      textarea {
        background-color: #102432;
        resize: none;
        border: 0;
        width: 100%;
        outline: none;
        padding: 30px 20px;
      }

      .like__btn {
        display: flex;
        justify-content: center;
        padding: 20px;
        gap: 20px;

        button {
          padding: 15px 50px;
          border: 1px solid #ccc;
          color: #eee;
          border-radius: 100px;
          display: flex;
          gap: 10px;
          align-items: center;
          background: transparent;

          svg {
            font-size: 24px;
          }
        }
      }
    }
  }

  .comment__form {
    margin-top: 25px;

    textarea {
      background-color: transparent;
      resize: none;
      border: 0;
      width: 100%;
      outline: none;
      padding: 30px 20px;
      border: 1px solid #30424f;
      border-radius: 12px;
    }

    .btn {
      display: flex;
      justify-content: flex-end;

      button {
        padding: 20px 50px;
        border-radius: 10px;
        background-color: #0f212e;
        margin-top: 20px;
      }
    }
  }
}
