@import "./media.scss";

aside {
  background: #061b2a;
  border-right: 1px solid #42525d9c;
  border-left: 1px solid #42525d9c;

  @include lg {
    transition: 0.3s all;
    margin-top: -500%;
    margin-left: unset !important;
    max-width: unset !important;
    position: unset !important;
    border: 0;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #132835;
  }
  @include -lg {
    margin-top: unset !important;
  }
  > .top {
    padding: 35px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #42525d9c;
    @include lg {
      display: none;
    }
    .logo {
      text-align: center;

      img {
        width: 100%;
      }
    }
  }
  .bottom {
    margin-top: 20px;
    padding: 20px 30px;
    > ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      list-style: none;
      gap: 0px;

      > li {
        padding: 7px 0;
        .top {
          display: flex;
          align-items: center;
          gap: 12px;
          color: #c6c6c6;
          cursor: pointer;
          display: grid;
          grid-template-columns: 20px auto;
          p {
            color: #c6c6c6;
            cursor: pointer;
          }
          svg {
            fill: #c6c6c6;
            cursor: pointer;
          }
        }
        .sub {
          margin-left: 25px;
          margin-top: 8px;

          li {
            display: flex;
            align-items: center;
            gap: 12px;
            cursor: pointer;
            padding: 8px 0;
            font-size: 11px;
            color: #c6c6c6;
            opacity: 0.9;
            font-weight: 300;
          }
        }
      }
    }
  }
  .btns {
    display: grid;
    gap: 12px;

    border-top: 1px solid #42525d9c;
    padding: 40px 30px;
    .first {
      padding: 15px;
      background: white;
      color: #6dc0ff;
      border: 2px solid #6dc0ff;
      border-radius: 4px;
    }
    .second {
      padding: 15px;
      background: #1c3546;
      color: #fff;
      border: 0;
      border-radius: 4px;
    }
  }
}
aside.hide {
  position: absolute;
  max-width: 250px;
  margin-left: -100%;
}
